<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param>
    <param-name>appName</param-name>
    <param-value>TMS_C32_Lesson_24</param-value>
  </context-param>
  <context-param>
    <param-name>appVersion</param-name>
    <param-value>1.99999999</param-value>
  </context-param>
  <context-param>
    <param-name>developerName</param-name>
    <param-value>Dmitriy</param-value>
  </context-param>
  <context-param>
    <param-name>supportEmail</param-name>
    <param-value>my@gmail.com</param-value>
  </context-param>
</web-app>
